.Navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.Navbar li {
    display: inline-block;
    font-family: arial, sans-serif;
    float: right;
    padding: 12px 7px 7px 12px;
    font-family: arial;
    font-size: 14px;
    
}


li a {
    text-decoration: none;
    font-family: arial, sans-serif;
}


li a:hover {
    text-decoration: underline;
}

p {
    font-family: arial, sans-serif;
}

p a {
    font-size: 14px;
    font-family: arial, sans-serif;
    text-decoration: none;

}

p a:hover {
    text-decoration: underline;
}
.button {
    background-color: #f8f9fa;
    text-align: center;
    font-family: arial, sans-serif;
    font-size: 14px;
    width: 50;
    padding: 14px 40px;
    border: 1px solid #f8f9fa
}

.button:hover {
    border: 1px solid gray;

}

.searchbar {
    align-items: center;
    border-radius: 15px;
    height: 35px;
    width: 500px;
}

.footer_1 {
    position: fixed;
    display: flex;
    left: 0;
    bottom: 50px;
    width: 100%;
    background-color: #f2f2f2;
}
.footer_1 li {
    display: inline;
    padding: 6px;
    font-size: 14px;
    font-family: arial, sans-serif;
}


.footer_2 {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    font-size: 14px;
    border-top: 1px solid #dadce0;
    background-color: #f2f2f2;
    font-family: arial, sans-serif;

}

.footer_2 a {
    text-decoration: none;
    padding: 8px;
    
}

.footer_2 a:hover {
    text-decoration: underline;
}
.left {
    display: flex;
    padding-left: 40px;
} 
.right {
    display: flex;
    margin-left: auto;
    padding-right: 40px;
}


#logo-container {

    position: absolute;
    text-align: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%) translateY(-50%);
    

    

}    


#searchbar {
    
    align-items: center;
    padding: 20px 0 20px 0;
    
    

}


#logo {
   height: 92px;
   width: 272px;
  
}

#button-container {
    text-align: center;
    align-items: center;
    
    
}
